<div class="container">
  <div class="row">
    <h6>Buscar</h6>

    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <button
        class="btn btn-outline-secondary"
        (click)="show = !show"
        title="palabra | n° de memo"
      >
        {{ show ? "N° de Memo" : "Palabra" }}
      </button>

      <br />
      <div *ngIf="show">
        <label class="col sm-3 col-for-label">Palabra</label>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por palabra"
          formControlName="palabra"
        />

        <span class="form-text text-danger" *ngIf="campoEsValido('palabra')">
          deben ser caracteres alfanuméricos
        </span>
      </div>

      <div *ngIf="!show">
        <label class="col sm-3 col-for-label">N° de Memo</label>
        <input
          type="number"
          class="form-control"
          placeholder="Buscar por número de Memo"
          formControlName="numero"
        />
        <span class="form-text text-danger" *ngIf="campoEsValido('numero')">
          El N° de Memo de ser mayor a 0
        </span>
      </div>

      <div id="boton">
        <button
          type="submit"
          class="btn btn-outline-secondary float-end"
          routerLink="/resultado"
        >
          Buscar
        </button>

        <button (click)="limpiar()" class="btn btn-outline-secondary float-end">
          limpiar busqueda
        </button>
      </div>
    </form>
  </div>
</div>
<app-listado [memosHijo]="memos"></app-listado>
{{ miFormulario.value | json }}
